{% extends 'base.html' %}

{% block title %}Apply{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-[70vh]">

    <div class="w-full max-w-lg bg-white shadow-xl rounded-2xl p-8">

        <h1 class="text-2xl font-bold mb-6 text-center">Ishga Ariza</h1>

        <form method="post" class="space-y-5">
            {% csrf_token %}

            <div>
                <label>Ism</label>
                {{ form.name }}
            </div>

            <div>
                <label>Email</label>
                {{ form.email }}
            </div>

            <div>
                <label>Telefon</label>
                {{ form.phone }}
            </div>

            <div>
                <label>Vakansiya</label>
                {{ form.job }}
            </div>

            <button type="submit" class="w-full bg-blue-600 text-white p-3 rounded-xl">
                Yuborish
            </button>
        </form>

    </div>

</div>
{% endblock %}